NEXT_PUBLIC_SITE_NAME=Карта Навигатор
NEXT_PUBLIC_SITE_DOMAIN=example.com
NEXT_PUBLIC_SITE_URL=https://example.com
NEXT_PUBLIC_SMARTLAND_MAIN_URL=https://mytop24.com/3Juf
NEXT_PUBLIC_SMARTLAND_COMPARISON_URL=https://mytop24.com/3Juf
NEXT_PUBLIC_SMARTLAND_PICKER_URL=https://mytop24.com/3Juf
NEXT_PUBLIC_SMARTLAND_CASHBACK_URL=https://mytop24.com/3Juf
NEXT_PUBLIC_SMARTLAND_NO_FEE_URL=https://mytop24.com/3Juf
NEXT_PUBLIC_SMARTLAND_STUDENT_URL=https://mytop24.com/3Juf
NEXT_PUBLIC_ENABLE_SUBSCRIBE_WIDGET=false
NEXT_PUBLIC_YANDEX_METRIKA_ID=
NEXT_PUBLIC_GTM_ID=
